.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 8px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header>h2 {
  margin: 0;
  width: 100%;
}

.divisor {
  margin-top: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

p {
  margin: 0;
}

#alert-btn {
  background: #FA5252;
}

#body-data{
  width: 40%;
  border: 1px solid #ECECEC;
  border-radius: 33px;
  padding: 8px 12px 8px 12px;
}

#clipboard {
  cursor: pointer;
}

#clipboard:hover {
  scale: 1.1;
}
