::ng-deep .alert-success {
  background-color: #b3ddbd;
  color: #0d6622;
}
::ng-deep .alert-info {
  background-color: #8adffff0;
  color: #005e81;
 
}
::ng-deep .alert-error {
  background-color: #f3b7bd;
  color: #db061b;
}

