<div>
  <h1 class="text-center newH1Style mt-3">Mensajes</h1>
  <mat-form-field *ngFor="let filter of filterSelectObj" class="mx-3">
    <ng-container *ngIf="(filter.name !== 'Fecha inicio') && (filter.name !== 'Fecha fin'); else elseTemplate">
      <mat-label>{{ filter.name }}</mat-label>
      <input
        matNativeControl
        name="{{ filter.columnProp }}"
        [(ngModel)]="filter.modelValue"
        (keyup)="filterChange(filter, $event)"
      />
    </ng-container>
    <ng-template #elseTemplate>
      <mat-label>{{ filter.name }}</mat-label>
      <input
        matNativeControl
        type="date"
        name="{{ filter.columnProp }}"
        [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter, $event)"
      />
    </ng-template>
  </mat-form-field>
  <br>
  <button class="m-2" mat-flat-button color="primary" (click)="resetFilters()">
    Resetear filtros
  </button>
</div>

<div class="mat-elevation-z8">
  <!-- matTableExporter necesario para exportar la tabla -->
  <!-- hiddenColumns array con los indices de las columnas que NO se exportaran en mi caso la de acciones -->
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="full-width-table"
    aria-label="Elements"
    matTableExporter
    #exporter="matTableExporter"
  >
    <!-- task Column -->
    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensajes</th>
      <td mat-cell *matCellDef="let row" style="white-space: pre-line;">{{ row.mensaje }}</td>
    </ng-container>

    <!-- ProjectID Column -->
    <!-- <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
      <td mat-cell *matCellDef="let row">{{ row.projectId }}</td>
    </ng-container> -->

    <!-- Category Column -->
    <!-- <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
    </ng-container> -->

    <!-- Date Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fecha | customDatePipe }}
      </td>
    </ng-container>

    <!-- timeSpent Column
    <ng-container matColumnDef="timeSpent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Horas</th>
      <td mat-cell *matCellDef="let row">{{ row.timeSpent }}</td>
    </ng-container> -->

    <!-- Actions Column -->
    <!-- <ng-container matColumnDef="actions">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell [ngStyle]="{ align: 'center' }" *matCellDef="let row">
        <button (click)="editTask(row)" mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteTask(row)" mat-icon-button color="warm">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <!-- Lo que se muestra cuando no hay datos con los filtros -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos acorde con el filtro</td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<!-- Exportacion de la tabla -->
<div class="btn-group gap-1 p-2">
  <button mat-button disabled="" class="text-black p-1">
    <mat-icon
      color="primary"
      matTooltip="Se exportaran todos los datos de la tabla filtrados y con el orden en el que se encuentren"
      matTooltipPosition="above"
      matTool
      style="font-size: 18px;"
      >info</mat-icon
    >
    Exportar tabla:
  </button>  <button
    mat-raised-button
    color="primary"
    (click)="
      exporter.exportTable('xlsx', {
        fileName: 'jornadas',
        sheet: 'jornadas',
        Props: { Author: 'Javier Blanco' }
      })
    "
  >
    Excel
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="exporter.exportTable('csv', {
        fileName: 'jornadas',
        sheet: 'jornadas',
        Props: { Author: 'Javier Blanco' }
      })
    "
  >
    Csv
  </button>

  <!-- <button
      class="btn-outline-primary"
      mat-raised-button
      (click)="exporter.exportTable('json')"
    >
      Json
    </button>
    <button
      class="btn-outline-primary"
      mat-raised-button
      (click)="exporter.exportTable('txt')"
    >
      Txt
    </button> -->
</div>
