<div class="container justify-content-center text-center">
  <h1 class="text-center newH1Style mt-3">Estadísticas</h1>
  <div class="row-cols-auto">
    <!-- Formulario de filtros -->
    <form>
      <div class="row justify-content-around align-items-center">
        <div class="col-auto m-0 p-0">
          <mat-form-field class="" appearance="outline" color="primary">
            <mat-label>Filtar por: </mat-label>
            <mat-select
              placeholder="Name"
              [(ngModel)]="nameSelected"
              name="Name"
              (selectionChange)="filterData()"
            >
              <mat-option *ngFor="let name of names" [value]="name.selectDef">
                {{ name.selectTitle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-auto">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Resultados tiempo o coste</mat-label>
            <mat-select
              placeholder="Value"
              [(ngModel)]="valueSelected"
              name="Value"
              (selectionChange)="filterData()"
            >
              <mat-option
                *ngFor="let value of values"
                [value]="value.selectDef"
              >
                {{ value.selectTitle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Filtros de fecha -->
        <div class="col-auto">
          <div class="row-cols-auto text-center">
            <p>
              Filtro de fechas: {{ startDate | customDatePipe }} -
              {{ endDate | customDatePipe }}
            </p>
          </div>
          <div class="row-cols-auto mb-5">
            <mat-button-toggle-group
              name="dateFilter"
              [(ngModel)]="typeOfDateFilter"
              (change)="setEndDate()"
            >
              <mat-button-toggle value="">Todos los datos</mat-button-toggle>
              <mat-button-toggle value="today">Hoy</mat-button-toggle>
              <mat-button-toggle value="thisWeek"
                >Esta semana</mat-button-toggle
              >
              <mat-button-toggle value="thisMonth">Este mes</mat-button-toggle>
              <mat-button-toggle value="thisYear">Este año</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- //TODO: Mensaje de no hay datos con esos filtros -->
  <div class="row-cols-auto w-100">
    <ng-container *ngIf="thereAreSimpleData; else elseTemplate">
      <app-pie-chart
        [nameSelected]="nameSelected"
        [valueSelected]="valueSelected"
        [simpleData]="simpleData"
        xAxisLabel="Fechas"
      ></app-pie-chart>
    </ng-container>
    <ng-template #elseTemplate>
      <app-loading></app-loading>
    </ng-template>

    <br />
    <ng-container *ngIf="thereAreSimpleData; else elseTemplate">
      <app-grouped-bar-chart
        [nameSelected]="nameSelected"
        [valueSelected]="valueSelected"
        [seriesData]="seriesData"
        [typeOfDateFilter]="typeOfDateFilter"
        *ngIf="
          typeOfDateFilter !== '' &&
          typeOfDateFilter !== 'thisYear'
        "
      ></app-grouped-bar-chart>
    </ng-container>
    <ng-template #elseTemplate>
      <app-loading></app-loading>
    </ng-template>
  </div>
</div>
